;
; Sample configuration file for rpm2html
;
; $Id: rpm2html.config,v 1.39 2007/04/01 15:41:43 hany Exp $
;

; maintainer of the local rpm mirror
maint=Root

; mail for the maintainer
mail=root@localhost

; Directory to store the HTML pages produced
dir=/var/www/html/rpm2html

; The relative URL for front pages
url=/rpm2html

; A feedback in the navigation bar
;header=mailto:daniel@veillard.com Feedback

; Link to the help file
header=http://rpmfind.net/linux/rpm2html/mirrors.html Mirrors
header=http://rpmfind.net/linux/rpm2html/help.html Help
header=http://rpmfind.net/linux/rpm2html/search.php Search

;
; Do not dump to disk, just to the database
;
html=true
;html_template=rpm2html.tpl
rdf=false
protectemails=true

;
; Configuration for an RPM directory
;
; [The name between brackets is the directory, NEEDED !]
; name=A significant name for this mirror, NEEDED !
; ftp=The original FTP/HTTP url, NEEDED !
; ftpsrc=Where the associated sources are stored
; color=Background color for pages
; subdir=in which subdir should the HTML be stored
; URL can be defined for mirrors the first one is the "local" one
; mirror = ftp://rpmfind.net/linux/redhat/redhat-6.1/i386/RedHat/RPMS
; mirror = ftp://ftp.redhat.com/pub/redhat/redhat-6.1/i386/RedHat/RPMS
;
[/usr/src/redhat/RPMS]
name=Locally compiled packages
color=#e0e0ff
subdir=compiled
ftp=file:///usr/src/redhat/RPMS
ftpsrc=file:///usr/src/redhat/SRPMS

[localbase]
name=Installed RPMs in default base
color=#e0ffe0
subdir=local
ftp://ftp.redhat.com/pub/redhat/linux/7.1/en/os/i386/RedHat/RPMS/
ftpsrc=ftp://ftp.redhat.com/pub/redhat/linux/7.1/en/os/i386/SRPMS/

[/mnt/cdrom]
name=Content of CD-ROM
color=#ffe0ff
subdir=cdrom
ftp=file:/mnt/cdrom
tree=true


